# --- Binários e arquivos temporários ---
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.dwo

# --- Proteção de Projeto ---
/build/
.vscode/
.vs/
.idea/
.DS_Store
Thumbs.db
deps/

# --- Proteção de Copyright e Dados Privados ---
# ROMs
*.nds
*.srl
# Arquivos de Save
*.sav
# Save States (Emuladores costumam usar estas extensões)
*.dsv
*.sta
*.sgm
